
html,body,img,p,h1,h2,ul,li,section,article{
    margin: 0;
    padding: 0;
    font:inherit;
    border: 0;
    vertical-align: baseline;
}
html,body {
    background: #181818;
    font-familY:'Lato',helvetica,arial,sans-serif;
    font-size: 16px;
    color: #222;
    
    

}
.clear {
    clear: both;
}
#MyCV {
    width: 90%;
    background:#f3f3f3;
    margin: 30px auto; 
    max-width: 800px;
    
}

.Header {
    padding: 15px 15px 0 15px;
    border-bottom: 2px solid #cf8a05;
    background: #ededed;
}

.Main_Name {
    float:left;
    margin: 20px;
}
.Main_Name h1 {
    color: #181818;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: -5px;
    font-family:'Rokkitt', Helvetica, Arial, sans-serif;
}

.Main_Name p {
    color: #181818;
    font-family:'Rokkitt', Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 1em;
   
    
}
.Contact_info {
    color: #181818;
    font-family:'Rokkitt', Helvetica, Arial, sans-serif;
    float:Right;
}

.Contact_info ul {
   list-style-type: none;
   margin-top:2px;
   font-size: 0.8em;
}
.Contact_info ul li {
    margin-bottom: 3px;
    color: #444;
 }
 .Picture img {
     border-radius: 50%;
     float: left;
     width: 12%;
     margin: 20px;
 }

.Main_Content{
    margin-left: 40px;
   
}
section {
    border-bottom: 1px solid #ededed;
    padding: 20px 0 0;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
 
    
}

#About_me_info {
  
  text-align:left;
  display: flex;
  
}
.Titile {
    font-size: 1.6em;
    float: left;
    font-family:'Rokkitt', Helvetica, Arial, sans-serif;
    color: #cf8a05;
    width: 30%;
    font-style: italic;
}
.Information {
    float: right;
    width:70%;
    margin-top:2px;
    margin-bottom: 3px;
}

.Information li {
    list-style-type: none;
}
.Information h2 {
    color: #444;
    font-family:'Rokkitt', Helvetica, Arial, sans-serif;
    font-weight: 550;
    font-size: 1.3em;

}
p{
  
    color: #444;
    line-height: 1.5em;
    margin-bottom: 30px;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    text-align: left;

}
.Information p {
    color: #444;
    font-family:'Rokkitt', Helvetica, Arial, sans-serif;
   

}
#TtimeExperiance1  {
   color: #cf8a05;
   font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
   font-size: 1em;
   font-style: italic;
   padding-left: 10px;
   margin-bottom: 1px;
}
#TtimeExperiance2  {
    color: #cf8a05;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-style: italic;
    padding-left: 10px;
    margin-bottom: 1px;
 }
 .description {
     padding-left: 10px;
 }
 #TtimeEducation1{
    color: #cf8a05;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-style: italic;
    padding-left: 10px;
    margin-bottom: 1px;
 }
 #TtimeEducation2{
    color: #cf8a05;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-style: italic;
    padding-left: 10px;
    margin-bottom: 1px;
 }
 .Key_Skills li {
    margin-top: 15px;
     margin-bottom: 15px;
     text-align: left;
     color: #444;
     font-size: 1.3em;
     font-weight: 550;
    
 }
 .P60 {
    border:2px solid #444;
    text-align: left;
    width:300px;
    
   
}
.P90 {
    border:2px solid #cf8a05;
    text-align: left;
    width:80%;
    animation: mymove 3s ;
   
}
.P50 {
    border:2px solid #cf8a05;
    text-align: left;
    width:50%;
    animation: mymove 3s ;
   
}
.P40 {
    border:2px solid #cf8a05;
    text-align: left;
    width:40%;
    animation: mymove 3s ;
   
}
.P601 {
    border:2px solid #cf8a05;
    text-align: left;
    width:60%;
    animation: mymove 3s ;
   
}
.P70 {
    border:2px solid #cf8a05;
    text-align: left;
    width:70%;
    animation: mymove 3s ;
   
}
.P100{
    border:2px solid #cf8a05;
    text-align: left;
    width:70%;
    animation: mymove 3s ;
   
}

@keyframes mymove {
    from {Width: 0%;}
    
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #cf8a05;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .Enter {
    border-radius: 5%;
    height: 5%;
    margin: 0 auto;
    display: block;
  }
  fieldset {
      border: none;
      background: #f1f1f1;
      width:50%;
      margin: 0px auto;
      display: block;
  }
  .ContactUS{
    background: #cf8a05;
  }
  .ContactusWithMail {
    width:50%;
    height: 50%;
    margin: 3px auto;
    display: block;
  }
  #SendMessage{
    width:50%;
    margin: 0px auto;
    display: block;

  }